@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
    box-shadow: 0 10px 0 10px 20px #2f2e2e;
}

.about:hover .about-open {
    display: initial;
    z-index: 999;

}

.aksia:hover .aksia-open {
    display: initial;
    z-index: 999;

}

.supermarket:hover .supermarket-open,
.dropdown:hover .dropdown-open {
    display: initial;
    z-index: 999;

}

.karyera:hover .karyera-open {
    display: initial;
    z-index: 999;

}

.hesab-open {
    transform: translateY(10%);
    z-index: 999;
    opacity: 0;
    transition: .2s;
}


.hesab:hover .hesab-open {
    transform: translateY(0);
    opacity: 1;
}

#category-button {
    position: relative;
}

#category-button::before {
    content: '';
    display: block;
    height: 6px;
    background: #FF8300;
    position: absolute;
    top: -5px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    left: 0;
}

.swiper-pagination-bullet-active {
    background-color: #FF8300 !important;
    width: 20px !important;
    border-radius: 5px !important;
    transition: .8s;
}

:root {
    --swiper-theme-color: #FF8300 !important;
    --swiper-navigation-size: 20px !important;
}

#amiroff-img {
    filter: brightness(0) invert(1)
}

.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
    background-color: #8080801a;
    border-radius: 50%;
    padding: 20px;
}

:root {
    --swiper-theme-color: #FF8300 !important;
    --swiper-navigation-size: 20px !important;
}

@media only screen and (min-width: 768px) {
    .wrapper-md {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 500px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }

    #footer-logo {
        transition: .5s;
    }

    footer:hover #footer-logo {
        left: 81%;
    }

    .footer-list ul {
        list-style: ">";
    }

    .footer-list ul li {
        padding: 0 5px;
    }
}